.container{
    height:100%;
    width:100%;
    padding-bottom: 5rem;
    background-image: url("E:\socialhub\client\src\Images\backgrdimg1.jpg");
}
.container1{
    height:100%;
    width:100%;
    
}
.main{
   margin-top: 3rem; 
   display:grid;
   grid-template-columns: 2fr 3fr 2fr;
   grid-gap: 5rem;
  

}