.container{
    height:calc(100vh-60px);
    width:100%;
  
}
.container1{
    height: 100%;
    width: 100%;
    /* padding:0.25rem 1.25rem; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
   
}


container1{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:2.25rem;
    padding-left:3rem;
top:15rem;
   
}

.items{
cursor: pointer;
font-size: 18px;
text-decoration: none;
display:flex;
align-items: center;
gap:1rem;
top:3rem;
right:0.25rem;
color: blue;
}
items:hover{
    scale:1.03;
    color:rgb(15, 15, 15);
}